.rigth-create-game {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-image: url("../../images/space-cartoon-2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: white;
}

.buttons-create-game input{
    margin-top: 3%;
    width: 40%;
    padding: 2%;
    cursor: pointer;
    color: white;
    background-color: #333333;
    border-radius: 10px;
    border: none;
}

.buttons-create-game{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.buttonQuestionsMenu:hover{
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rival{
    height: 15vh;
    width: 60vh;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: black;
    background-color: white
}
.rival img{
    height: 8vh;
}

.create-game-loading{
    height: 8vh;
}