/* body {
    overflow: hidden;
}

.main-container {
    min-height: 100vh;
    display: flex;
}

.container-img {
    width: 50%;
    height: 100vh;
}

.container-img img {
    max-width: 100%;
    height: inherit;
    object-fit: cover;
}

.logoChangePassword {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 170px;
}

.logoChangePassword img {
    width: 320px;
    display: block;
}

.error-message {
    color: red;
    margin-top: 35px;
    text-align: center;
}

.new-password {
    margin-top: 50px;
}

.confirm-new-password{
    margin-top: 20px;
}

.copyrigth-terms {
    position: absolute;
    bottom: 2px;
    right: 10px;
}

.copyrigth-terms a {
    text-decoration: none;
    color: #333;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');

.container .form__newPassword,
.form__confirmNewPassword,
.form__btnSend,
.copyright {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1em;
  height: 100vh;
  background-image: url("/src/images/space-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 1.5em 1em;
  width: 100%;
  max-width: 600px;
  border-radius: 1.5em;
  background-color: #fff;
}

.form>a:first-of-type {
  margin-bottom: 2em;
}

.form__logo {
  width: 260px;
}

.form__data {
  margin-bottom: 2em;
  max-width: 380px;
}

.form__newPassword {
  margin-bottom: 0.8em;
}

.form__btnSend {
  margin-bottom: 2.5em;
  padding: 0.4em 0;
  font-size: 1rem;
  max-width: 250px;
}

.copyright {
  font-size: 0.8rem;
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.form__errorMessage {
  color: #fff;
  margin-bottom: 1.5em;
  text-align: center;
  background-color: #df2d2d;
  padding: 1em 0;
  width: 100%;
  max-width: 380px;
  border-radius: 8px;
}

@media (min-width: 1366px) {
  .container {
    align-items: stretch;
    justify-content: flex-end;
    padding: 0;
    background-size: auto;
  }

  .form {
    position: relative;
    padding: 8em 4em 0;
    max-width: 40%;
    border-radius: 0;
  }

  .form>a:first-of-type {
    margin-bottom: 3em;
  }

  .form__logo {
    width: 400px;
  }

  .form__links {
    margin-bottom: 3em;
  }

  .form__data {
    max-width: 560px;
  }

  .copyright {
    position: absolute;
    bottom: 0.5em;
    right: 1em;
    font-size: 1rem;
    font-weight: 400;
  }
}

@media (min-width: 1800px) {
  .form__logo {
    width: 500px;
  }
}